{% extends  'base.html' %}
{% load static %}

{% block content %}
<div class="p-x-1 p-y-3" style="width: 20%; margin: 0 auto;  border-radius: 30px;">
    <div class="text-xs-center" style="box-shadow: 0 0 100px;  border-radius: 30px;">
        <ul class="list-group" style="border: 0.8px solid white; border-radius: 30px;">
            <h5 class="list-group-item" style="border-radius: 30px 30px 0 0; border: 1px solid white;">{{ info.user.username }}</h5>
            {% if flag is None %}
                <li class="list-group-item" style="text-align: left;">Обо мне: {{ info.about }}</li>
                <li class="list-group-item" style="text-align: left">Количество постов: {{ info.count_posts }}</li>
                <li class="list-group-item" style="text-align: left">В избранном у {{ info.count_fav }} читателей</li>
            {% else %}
                {% if flag %}
                    <p class="list-group-item" style="text-align: left">E-mail: {{ request.user.email}}</p>
                {% endif %}
                    <li class="list-group-item" style="text-align: left">Количество постов: {{ info.count_posts }}</li>
                    <li class="list-group-item" style="text-align: left">В избранном у <a href="{% url 'fav_list' info.id %}">{{ info.count_fav }} читателей</a></li>
                {% if flag %}
                    <li class="list-group-item" style="text-align: left">Обо мне: {{ info.about  }}</li>
                    <li class="list-group-item" style="border-radius: 0 0 30px 30px ; border: 1px solid white;"><a href="{% url 'edit_author' info.id %}" class="btn btn-primary"
                                                   style="width: 50%; margin-left: 50%">Редактировать</a></li>
                {% else %}
                    <form method="POST" style="box-shadow: 0 0 100px;border-radius: 30px;">{% csrf_token %}
                        {% if flag_fav %}
                            <li class="list-group-item" style="border-radius: 0 0 30px 30px; border-color: white;"><button class="btn btn-primary"
                                                       style="width: 50%; margin-left: 50%;">Удалить</button></li>
                        {% else %}
                            {% if auth %}
                                <li class="list-group-item" style="border-radius: 0 0 30px 30px; border-color: white;"><button class="btn btn-primary"
                                                           style="width: 50%; margin-left: 50%">В избранное</button></li>
                            {% else %}
                                <li class="list-group-item" style="border-radius: 0 0 30px 30px; border-color: white;"><a class="btn btn-primary" href="{% url 'login' %}"
                                                               style="width: 50%; margin-left: 50%;">В избранное</a></li>
                            {% endif %}
                        {% endif %}
                    </form>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
        {% for posts_list, s_list in data %}
            <div class="card" style="width:60%; margin-left: 21%; margin-top: 1%; border-radius: 30px;">
                  <div class="card-body" style="box-shadow: 0 0 75px; border-radius: 30px; border:white;">
                      <small>{{ posts_list.pub_date }}</small>
                      <small>{{ posts_list.count_like }} likes</small>
                      <h1 class="card-title">{{ posts_list.title }}</h1>
                      <p class="card-text">{{ s_list }}</p>
                      <a href="{% url 'post_details' posts_list.id %}" class="btn btn-primary" style="margin-left: 80%">Читать далее ></a>
                  </div>
            </div>
        {%endfor%}
{% endblock %}