{% extends 'base.html' %}
{% block content %}
    {% if error %}
        <div class="card" style="width: 50%; margin-left: 24%; margin-top: 1%">
            <div class="card-body" style="box-shadow: 0 0 75px;">
                <h3 class="card-title">Вы не являетесь избранным автором</h3>
            </div>
        </div>
    {% else %}
        <div class="card" style="width: 50%; margin-left: 24%; margin-top: 1%; text-align:center">
            <h2 class="list-group-item">В избранных</h2>
            {% for info in author %}
                    <h4 class="list-group-item"><a href="#">{{ info.user.username }}</a></h4>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}