{% extends  'base.html' %}
{% block content %}

        <div class="row">
            <div class="card" style="width: 50%; margin-left: 10%; margin-top: 1%">
              <div class="card-body" style="box-shadow: 0 0 75px;">
                  <small>{{ post.pub_date }}</small>
                  <small><a href="{% url 'edit_author' post.author.user.id%}">{{ post.author.user.username }}</a></small>
                  <small>{{ post.count_like }} likes</small>
                  <h1 class="card-title">{{ post.title }}</h1>
                  <p class="card-text">{{ post.text }}</p>
                  {% if author_flag %}
                  <div style="margin-left: 85%">
                    <a href="{% url 'edit_post' post.id %}"><button class="btn btn-primary">Редактировать</button></a>
                  </div>
                  {% else %}
                    {% if like_flag %}
                        <form method="POST">{% csrf_token %}
                            <button class="btn btn-primary" type="submit" style="margin-left: 88%">Нравится</button>
                        </form>
                    {% else %}
                        <form method="POST">{% csrf_token %}
                            <button class="btn" type="submit" style="margin-left: 88%;">Нравится</button>
                        </form>
                    {% endif %}
                  {% endif %}
              </div>
            </div>

            <div class="card" style="width:20%; height: 30%; margin-left: 10%; margin-top: 1%">
                <div class="card-body" style="box-shadow: 0 0 75px;">
                    <h3 class="card-title" style="text-align: center">Автор</h3>
                    <h5 class="card-title">Имя: <a href="{% url 'author' post.author.user.id%}">{{ post.author.user.username }}</a></h5>
                    <p class="card-text">Количество постов: {{ post.author.count_posts }}</p>
              </div>
            </div>
        </div>
{% endblock %}